.nav
{
    position: fixed;
    height: 50px;
    width: 100%;
    color: #eff6ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: transparent;
    z-index: 1000;
}
.nav nav a{
    margin: 0 10px;
    font-weight: 600;
    padding: 9px 10px;
    border-radius: 50px;
    transition: .5s;
}
.nav nav a:hover
{
    background: rgba(143, 138, 138, 0.262);
    border-bottom: 1px solid #eff6ff36;
}

.nav h3{
    font-size: 26px;
    font-weight: 800;
}
.nav h3 span{
    padding: 1px 10px;
    margin: 0 2px;
    color: #333;
    background-color: #ffa31a;
    border-radius: 10px;
}
.nav menu a{
    margin: 0 3px;
    font-weight: 700;
    padding: 5px 10px;
    background: #ffa31a;
    border-radius: 10px;
    transition: 0.5s;
}
.nav menu a:nth-child(1)
{
    background: transparent;
}
.nav menu a:nth-child(1):hover
{
    background: rgba(143, 138, 138, 0.262);
    border-bottom: 1px solid #eff6ff36;
}
.nav menu a:nth-child(2):hover
{
    
    border-bottom: 1px solid #eff6ffb5;
}

