.section {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container {
  height: 500px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 
  transition: all 0.5s ease-in-out;
  position: relative; 
}

.container_active {
  height: 1000px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.5s ease-in-out;
  position: relative; /* Add this to make the container a positioning context */
}
.imga{
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: .4s ease-in-out;
  border-radius: 20px;
  image-orientation: center;
}
.cardBox {
  position: relative;
  width: 350px;
  height: 450px; /* Initial height of a card box */
  background: #fff;
  margin: 10px;
  padding: 10px;
  color: #ffa31a;
  border-radius: 20px;
  overflow: hidden;
}
.cardBox a
{
  position: absolute;
  top: 25px;
  right: 10px;
  color: #333;
  font-weight: 700;
  transition: 0.2s;
  font-size: 12px;
}
.cardBox:hover a
{
  opacity: 0;
}
.cardBox:hover .imga
{
  transform: scale(1.1) translateY(-35px); 
}
.cardBox:hover .imgBox
{
  position: relative;
  -webkit-box-shadow: 9px 26px 75px 26px rgba(51, 51, 51, 0.15) inset;
  -moz-box-shadow: 9px 26px 75px 26px rgba(51, 51, 51, 0.15) inset;
  box-shadow: 9px 26px 75px 26px rgba(51, 51, 51, 0.15) inset;
}
.cardBox:hover
{
  border: 1px solid rgba(229, 103, 248, 0.7);
}
.imgBox {
  position: relative;
}
.cardBox h3 {
  color:#ffa31a;
  padding: 10px;
}

.cardBox h3 span {
  color: #333;
  margin-left: 5px;
  
}
.contetBox
{
  position: absolute;
  width: 330px;
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  flex-direction: column;
  justify-content: end;
  border-radius: 20px;
  padding: 10px;
  transition:all 1s;
  color: white;
  height: auto;
  bottom: -250px;
}
.contetBox h3 {
  color: #333;
}
.cardBox:hover .contetBox
{
  bottom: 10px;
}

.showHide {
  background-color: #ffa31a;
  position: fixed;
  bottom: 10px;
  padding: 5px 20px;
}
